AlifVenv/
venv/
env/
ENV/
.venv/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables
.env

# Logs
*.log
logs/
app/core/logs/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
tati/

# OS
.DS_Store
Thumbs.db

# Temporary files
temp_uploads/
tmp/
master

# FastAPI specific
.pytest_cache/
tati/

tati/


node_modules/
